asn1crypto==0.24.0
astroid==2.2.5
bcloud==3.9.0
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
cryptography==2.1.4
cssselect==1.0.3
cupshelpers==1.0
cycler==0.10.0
entrypoints==0.2.3.post1
ffmpeg==1.4
html5lib==0.999999999
idna==2.6
isort==4.3.17
keyring==12.2.1
keyrings.alt==3.0
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
lxml==4.2.1
matplotlib==3.0.3
mccabe==0.6.1
numpy==1.16.3
onboard==1.4.1
opencv-python==3.4.5.20
pexpect==4.2.1
Pillow==8.3.2
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.28.2
pyinotify==0.9.6
pylint==2.3.1
pyparsing==2.4.0
PyQt5-sip==4.19.15
pysmbc==1.0.15.6
python-dateutil==2.8.0
python-xlib==0.20
pyxdg==0.25
QDarkStyle==2.6.5
reportlab==3.4.0
requests==2.18.4
SecretStorage==2.3.1
six==1.12.0
typed-ast==1.3.5
urllib3==1.22
vboxapi==1.0
webencodings==0.5
wrapt==1.11.1
